.main-container {
  .main-content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  
    mat-panel-title {
      width: 6em;
      line-height: 2em;
    }
  }
}

.sp-main-container {
  .main-content {
    max-width: 370px;
    height: 100%;
    margin: 0 auto;

    mat-panel-title {
      width: 6em;
      line-height: 2em;
    }

    .empty-data-image {
      width: 100%;
    }
  }
}