version: '3'
services:
  dataser:
    restart: always
    volumes:
      - ~/kaeru_dataser_log:/usr/src/app/log
      - ~/kaeru_db:/usr/src/app/db
    container_name: kaeru_dataser
    user: root
    build:
      context: .
      dockerfile: ./dataser/Dockerfile
    ports:
      - "5555:5555"
    environment: 
      - TZ=Asia/Tokyo
      - KAERU_ENV=production
  server:
    restart: always
    environment: 
      - TZ=Asia/Tokyo
      - KAERU_ENV=production
    volumes:
      - ~/kaeru_db:/usr/src/app/db
    container_name: kaeru_server
    build:
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "3000:3000"