<mat-form-field appearance="standard">
  <mat-label>date range</mat-label>
  <mat-date-range-input [dateFilter]="myFilter" [formGroup]="range" [rangePicker]="picker">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end" (dateChange)="onDateEndChange($event)">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
</mat-form-field>
<button mat-button (click)='onReset()'>Reset</button>