.main-body {
  max-width: 600px;
  height: 100%;
  // overflow-y: scroll;
  margin: 0 auto;
  .header {
    position: relative;
    .title {
      text-align: center;
    }
  }
  
  mat-panel-title {
    width: 6em;
    line-height: 2em;
  }
}

// .main-body::-webkit-scrollbar {
//   display: none;
// }