.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.main-body {
  max-width: 600px;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  .title {
    text-align: center;
  }
  mat-panel-title {
    width: 6em;
    line-height: 2em;
  }
}

.main-body::-webkit-scrollbar {
  display: none;
}