.line-des-body {
  // border:  1px solid red;
  border-radius: 5px;
  background-color: #333333;
  padding-top: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  height: 1.8em;
  width: 300px;
  .item-div {
    float: left;
  }
  .normal {
    height: 1.4em;
    background-color: #76FF03;
  }
  .in-trouble {
    height: 1.4em;
    background-color: #FFEB3B;
  }
}
