# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
  
      # Runs a single command using the runners shell
      - name: build and push image
        run: |
          echo TWITTER_BEARER_TOKEN=${{secrets.TWITTER_BEARER_TOKEN}} >> .env
          docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
          docker build -t kaeru .
          docker tag kaeru:latest ${{secrets.DOCKER_REPO}}:latest
          docker image push ${{secrets.DOCKER_REPO}}:latest


